.portfolio{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color:#f6f6f6 ;
}

.portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 80px;
}
.portfolio .card{
    background-color: #fff;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.portfolio .card img {
    max-width: 100%;
}
.portfolio .card .text-info{
    padding: 20px;
}
.portfolio .card .text-info h3{
    margin-bottom: 10px;
}
.portfolio .card .text-info p{
    color: #777;
    line-height: 1.6;
    margin-bottom: 0;
}
.portfolio .card:hover{
    margin-top: -20px;
}